<p-toast></p-toast>

<section
  class="breadcrumb-section set-bg"
  [ngStyle]="{ backgroundImage: 'url(assets/image/breadcrumb.jpg' }"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Thông tin sản phẩm</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>Thông tin sản phẩm</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product-details spad" *ngIf="product != null">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img
              class="product__details__pic__item--large"
              [src]="
                product.images && product.images.length > 0
                  ? 'data:image/jpg;base64,' + product.images[0].data
                  : '../../../../assets/image/no-image.png'
              "
              alt="{{ product.name }}"
            />
          </div>
          <!-- <div
            class="product__details__pic__item"
            *ngIf="product.images && product.images.length > 0"
          >
            <img
              class="product__details__pic__item--large"
              src="{{ 'data:image/jpg;base64,' + product.images[0].data }}"
              alt="{{ product.name }}"
            />
          </div>
          <div
            class="product__details__pic__item"
            *ngIf="!product.images || product.images.length === 0"
          >
            <img
              src="../../../../assets/image/no-image.png"
              alt="no-img"
              width="50"
              height="full"
              class="shadow-4"
            />
          </div> -->
          <div class="product__details__pic__slider">
            <img
              [src]="
                product.images && product.images.length > 0
                  ? 'data:image/jpg;base64,' + image.data
                  : '../../../../assets/image/no-image.png'
              "
              alt=""
              *ngFor="let image of product.images"
              class="col-3"
            />
          </div>
          <!-- <div
            class="product__details__pic__slider"
            *ngIf="product.images && product.images.length > 0"
          >
            <img
              src="{{ 'data:image/jpg;base64,' + image.data }}"
              alt=""
              *ngFor="let image of product.images"
              class="col-3"
            />
          </div>
          <div
            class="product__details__pic__slider"
            *ngIf="!product.images || product.images.length === 0"
          >
            <img
              src="../../../../assets/image/no-image.png"
              alt="no-img"
              width="100"
              height="120"
              class="shadow-4"
            />
          </div> -->
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>{{ product.name }}</h3>
          <div class="product__details__rating">
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star"></fa-icon>
            <fa-icon [icon]="star_half"></fa-icon>
            <span>(18 reviews)</span>
          </div>
          <div class="product__details__price">
            {{ product.price | currency : "VND" }}
          </div>
          <p>{{ product.description }}</p>
          <div class="product__details__quantity">
            <div class="quantity">
              <div class="pro-qty">
                <span class="dec qtybtn" (click)="subtractQuantity()">-</span>
                <input type="text" [(ngModel)]="quantity" />
                <span
                  class="inc qtybtn"
                  (click)="quantity < product.quantity ? plusQuantity() : null"
                  >+</span
                >
              </div>
            </div>
          </div>
          <a
            href="javascript:void(0)"
            class="primary-btn"
            [class.disabled]="product.quantity === 0"
            (click)="product.quantity > 0 ? addCart(product) : null"
            >THÊM VÀO GIỎ HÀNG</a
          >
          <!-- (click)="addCart(product)" -->
          <ul>
            <li>
              <b>Tình trạng</b>
              <span
                [ngClass]="{
                  'in-stock': product.quantity > 0,
                  'out-of-stock': product.quantity === 0
                }"
              >
                {{
                  product.quantity > 0
                    ? "Còn hàng - Số lượng: " + product.quantity
                    : "Hết hàng"
                }}
              </span>
            </li>
            <li>
              <b>Vận chuyển</b>
              <span>01 ngày vận chuyển. <samp>Nhận hàng miễn phí </samp></span>
            </li>
            <li><b>Trọng lượng</b> <span>0,5 kg</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <p-tabView>
          <p-tabPanel header="Mô tả">
            <div class="tab-pane">
              <div class="product__details__tab__desc">
                <h6>Thông tin sản phẩm</h6>
                <br />
                <p>
                  {{ product.description }}
                </p>
              </div>
            </div>
          </p-tabPanel>
          <!-- <p-tabPanel header="Reviews (1)">
            <div class="tab-pane">
              <div class="product__details__tab__desc">
                <h6>Products Infomation</h6>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Facere incidunt natus eaque architecto ipsam nihil
                  reprehenderit. Obcaecati fugit vel rem? E st ut in laboriosam
                  veniam eaque vitae nesciunt reiciendis sit.
                </p>
                <p>
                  Praesent sapien massa, convallis a pellentesque nec, egestas
                  non nisi. Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Mauris blandit aliquet elit, eget tincidunt nibh
                  pulvinar a. Cras ultricies ligula sed magna dictum porta. Cras
                  ultricies ligula sed magna dictum porta. Sed porttitor lectus
                  nibh. Mauris blandit aliquet elit, eget tincidunt nibh
                  pulvinar a. Vestibulum ac diam sit amet quam vehicula
                  elementum sed sit amet dui. Sed porttitor lectus nibh.
                  Vestibulum ac diam sit amet quam vehicula elementum sed sit
                  amet dui. Proin eget tortor risus.
                </p>
              </div>
            </div>
          </p-tabPanel> -->
        </p-tabView>
      </div>
    </div>
  </div>
</section>

<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>Sản phẩm liên quan</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let product of listRelatedProduct"
      >
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            [ngStyle]="{
              'background-image':
                product.images && product.images.length > 0
                  ? 'url(data:image/jpeg;base64,' + product.images[0].data + ')'
                  : 'url(../../../../assets/image/no-image.png)'
            }"
          >
            <ul class="featured__item__pic__hover">
              <li>
                <a href="javascript:void(0)" (click)="addToWishList(product)"
                  ><fa-icon [icon]="heart"></fa-icon
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  routerLink="/product/{{ product.id }}"
                  ><fa-icon [icon]="retweet"></fa-icon
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  (click)="addToCart(product)"
                  [class.disabled]="product.quantity <= 0"
                  ><fa-icon [icon]="bag"></fa-icon
                ></a>
              </li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6>
              <a href="javascript:void(0)">{{ product.name }}</a>
            </h6>
            <h5>{{ product.price | currency : "VND" }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
