<div class="card">
  <p-table
    #dt
    [value]="listDetail"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['productId', 'quantity', 'amount']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Chi tiết phiếu nhập hàng "{{ importCouponId }}"</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Tìm kiếm"
          />`
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="productId">
          Mã vật liệu <p-sortIcon field="productId"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Tên vật liệu <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="quantity">
          Số lượng<p-sortIcon field="quantity"></p-sortIcon>
        </th>
        <th pSortableColumn="unitPrice">
          Đơn giá <p-sortIcon field="unitPrice"></p-sortIcon>
        </th>
        <th pSortableColumn="amount">
          Thành tiền <p-sortIcon field="amount"></p-sortIcon>
        </th>
        <th style="min-width: 10rem"></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-importCouponDatail>
      <tr>
        <td style="width: 4rem">
          <p-tableCheckbox [value]="importCouponDatail"></p-tableCheckbox>
        </td>
        <td>{{ importCouponDatail.product.id }}</td>
        <td>{{ importCouponDatail.product.name }}</td>
        <td>{{ importCouponDatail.quantity }}</td>
        <td>{{ importCouponDatail.unitPrice }}</td>
        <td>
          {{ importCouponDatail.amount | number : "1.2-2" }}
          VND
        </td>
        <td></td>
        <!-- <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary"
            (click)="openUpdate(importCouponDatail)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger ml-2"
            (click)="onDelete()"
          ></button>
          <p-dialog
            header="Xác nhận"
            [(visible)]="deleteForm"
            [style]="{ width: '30vw' }"
            [modal]="true"
            [transitionOptions]="'.3s'"
          >
            <div>
              <i class="pi pi pi-exclamation-triangle"></i>
              <span class="ml-2"
                >Bạn có chắc xóa vật liệu với mã
                <span>{{ importCouponDatail.productId }}</span> này ?</span
              >
            </div>
            <div class="flex justify-content-end mt-3">
              <p-button label="Yes" icon="pi pi-check" class="mr-2"></p-button>
              <p-button
                label="No"
                icon="pi pi-times"
                (click)="deleteForm = false"
              ></p-button>
            </div>
          </p-dialog>
        </td> -->
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- <p-dialog
  [(visible)]="showForm"
  [style]="{ width: '30vw' }"
  header="Import Coupon Datail"
  [modal]="true"
  styleClass="p-fluid"
  ><ng-template pTemplate="content"
    ><div class="field">
      <label for="SOLUONG">Số lượng</label>
      <input
        type="text"
        pInputText
        id="SOLUONG"
        [(ngModel)]="importCouponDatailForm.SOLUONG"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="DONGIA">Đơn giá</label>
      <input
        type="text"
        pInputText
        id="DONGIA"
        [(ngModel)]="importCouponDatailForm.DONGIA"
        required
        autofocus
      />
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button type="submit" pButton (click)="updateICDetail()">Cập nhật</button>
    <button
      pButton
      type="button"
      class="p-button-danger ml-3"
      (click)="showForm = false"
    >
      Hủy
    </button>
  </ng-template>
</p-dialog> -->
