<p-toast></p-toast>

<p-dialog
  [(visible)]="authModal"
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  [modal]="true"
  [dismissableMask]="true"
>
  <p-tabView>
    <p-tabPanel header="Đăng nhập">
      <div class="p-field">
        <label for="username">Tên đăng nhập: </label>
        <input
          type="text"
          pInputText
          class="w-full"
          [(ngModel)]="loginForm.username"
          name="username"
        />
      </div>
      <div class="p-field">
        <label for="password">Mật khẩu: </label>
        <input
          type="password"
          pPassword
          class="w-full"
          [(ngModel)]="loginForm.password"
          name="password"
        />
      </div>
      <div class="p-field mt-3">
        <button type="submit" pButton (click)="login()">Đăng nhập</button>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Đăng ký">
      <form action="" [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="p-field">
          <label for="username">Tên đăng nhập: </label>
          <!-- <input
            type="text"
            pInputText
            class="w-full"
            [(ngModel)]="registerForm.username"
            name="username"
          /> -->
          <input
            class="form-control"
            type="text"
            pInputText
            class="w-full"
            formControlName="username"
            name="username"
            [ngClass]="{
              'is-invalid': submitted && registerForm.get('username')?.invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              submitted &&
              registerForm.get('username')?.invalid &&
              registerForm.get('username')?.touched
            "
          >
            <div *ngIf="registerForm.get('username')?.errors?.['required']">
              Yêu lòng nhập tài khoản của bạn
            </div>
            <div *ngIf="registerForm.get('username')?.errors?.['minlength']">
              Độ dài tối thiểu phải là 5
            </div>
            <div *ngIf="registerForm.get('username')?.errors?.['maxlength']">
              Độ dài tối đa phải là 30
            </div>
          </div>
          <div *ngIf=""></div>
        </div>
        <div class="p-field">
          <label for="email">Email: </label>
          <input
            class="form-control"
            type="email"
            pInputText
            class="w-full"
            formControlName="email"
            name="email"
            [ngClass]="{
              'is-invalid': submitted && registerForm.get('email')?.invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              submitted &&
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
            "
          >
            <div *ngIf="registerForm.get('email')?.errors?.['required']">
              Yêu lòng nhập Email
            </div>
            <div *ngIf="registerForm.get('email')?.errors?.['minlength']">
              Độ dài tối thiểu phải là 5
            </div>
            <div *ngIf="registerForm.get('email')?.errors?.['maxlength']">
              Độ dài tối đa phải là 30
            </div>
          </div>
        </div>
        <div class="p-field">
          <label for="password">Mật khẩu: </label>
          <input
            class="form-control"
            type="password"
            pPassword
            class="w-full"
            formControlName="password"
            name="password"
            [ngClass]="{
              'is-invalid': submitted && registerForm.get('password')?.invalid
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              submitted &&
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
            "
          >
            <div *ngIf="registerForm.get('password')?.errors?.['required']">
              Yêu lòng nhập mật khẩu
            </div>
            <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
              Độ dài tối thiểu phải là 5
            </div>
            <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">
              Độ dài tối đa phải là 30
            </div>
          </div>
        </div>
        <div class="p-field mt-3">
          <!-- <button type="submit" pButton (click)="register()">Đăng ký</button> -->
          <button type="submit" pButton>Đăng ký</button>
        </div>
      </form>
    </p-tabPanel>
  </p-tabView>
</p-dialog>

<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <!-- <li><i class="fa fa-envelope"></i> hello@gmail.com</li> -->
              <li><i class="fa fa-envelope"></i>ABC@gamil.com.vn</li>
              <li>Miễn phí vận chuyển cho mọi đơn hàng từ đ1.000.000</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <a href="javascript:void(0)" routerLink="/" class="w-8"
            ><img src="assets/image/logo.png" alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="javascript:void(0)">Trang chủ</a></li>
            <li><a href="javascript:void(0)" routerLink="/">Shop</a></li>
            <li>
              <a href="javascript:void(0)">Pages</a>
              <ul class="header__menu__dropdown">
                <!-- <li><a href="javascript:void(0)">Shop Details</a></li> -->
                <li>
                  <a href="javascript:void(0)" routerLink="/cart"
                    >Shoping Cart</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0)" routerLink="/checkout"
                    >Check Out</a
                  >
                </li>
                <li>
                  <a href="javascript:void(0)" routerLink="/blog"
                    >Blog Details</a
                  >
                </li>
              </ul>
            </li>
            <li><a href="javascript:void(0)" routerLink="/blog">Blog</a></li>
            <li>
              <a href="javascript:void(0)" routerLink="/contact">Liên Hệ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__cart">
          <ul>
            <li>
              <a href="javascript:void(0)" (click)="wishlist.toggle($event)"
                ><fa-icon [icon]="heart"></fa-icon>
                <span>{{ wishlistService.items.length }}</span></a
              >
            </li>
            <p-overlayPanel #wishlist>
              <ng-template pTemplate>
                <div class="listItemInCart">
                  <ul>
                    <li
                      *ngFor="let product of wishlistService.items"
                      class="cart-box"
                    >
                      <div class="cart-box-image p-2">
                        <a href="javascript:void(0)" class="block"
                          ><img
                            [src]="
                              product.images && product.images.length > 0
                                ? 'data:image/jpg;base64,' +
                                  product.images[0].data
                                : '../../../../assets/image/no-image.png'
                            "
                            alt=""
                            width="80px"
                        /></a>
                      </div>
                      <!-- <div
                        class="cart-box-image p-2"
                        *ngIf="product.images && product.images.length > 0"
                      >
                        <a href="javascript:void(0)" class="block"
                          ><img
                            src="{{
                              'data:image/jpg;base64,' + product.images[0].data
                            }}"
                            alt=""
                            width="80px"
                        /></a>
                      </div>
                      <div
                        *ngIf="!product.images || product.images.length === 0"
                      >
                        <a href="javascript:void(0)" class="block"
                          ><img
                            src="../../../../assets/image/no-image.png"
                            alt="no-img"
                            width="50"
                            height="50"
                            class="shadow-4"
                        /></a>
                      </div> -->
                      <div class="cart-box-text">
                        <a href="javascript:void(0)">{{ product.name }}</a>
                      </div>
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-text"
                        (click)="removeWishList(product)"
                      ></button>
                    </li>
                  </ul>
                </div>
              </ng-template>
            </p-overlayPanel>
            <li>
              <a href="javascript:void(0)" (click)="cart.toggle($event)"
                ><fa-icon [icon]="bag"></fa-icon>
                <span>{{ cartService.items.length }}</span></a
              >
            </li>
            <p-overlayPanel #cart>
              <ng-template pTemplate>
                <div class="listItemInCart">
                  <ul>
                    <li
                      *ngFor="let product of cartService.items"
                      class="cart-box"
                    >
                      <div class="cart-box-image p-2">
                        <a href="javascript:void(0)" class="block"
                          ><img
                            [src]="
                              product.images && product.images.length > 0
                                ? 'data:image/jpg;base64,' +
                                  product.images[0].data
                                : '../../../../assets/image/no-image.png'
                            "
                            alt=""
                            width="80px"
                        /></a>
                      </div>
                      <!-- <div
                        class="cart-box-image p-2"
                        *ngIf="product.images && product.images.length > 0"
                      >
                        <a href="javascript:void(0)" class="block"
                          ><img
                            src="{{
                              'data:image/jpg;base64,' + product.images[0].data
                            }}"
                            alt=""
                            width="80px"
                        /></a>
                      </div>
                      <div
                        class="cart-box-image p-2"
                        *ngIf="!product.images || product.images.length === 0"
                      >
                        <a href="javascript:void(0)" class="block"
                          ><img
                            src="../../../../assets/image/no-image.png"
                            alt="no-img"
                            width="50"
                            height="50"
                            class="shadow-4"
                        /></a>
                      </div> -->
                      <div class="cart-box-text">
                        <a href="javascript:void(0)">{{ product.name }}</a>
                        <div>
                          <span>{{ product.quantity }} x </span
                          >{{ product.price | currency : "VND" }}
                        </div>
                      </div>
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-text"
                        (click)="removeFromCart(product)"
                      ></button>
                    </li>
                  </ul>
                  <p-divider></p-divider>
                  <div class="text-center">
                    <strong>Tổng: </strong
                    ><span class="ml-2">{{
                      cartService.getTotalPrice() | currency : "VND"
                    }}</span>
                  </div>
                  <p-divider></p-divider>
                  <div class="cart-button">
                    <button
                      pButton
                      pRipple
                      label="Xem Giỏ Hàng"
                      class="w-full p-button-warning"
                      routerLink="cart"
                    ></button>
                  </div>
                </div>
              </ng-template>
            </p-overlayPanel>
            <li>
              <a
                href="javascript:void(0)"
                (click)="showAuthForm()"
                *ngIf="!isLoggedIn"
                ><fa-icon [icon]="userIcon"></fa-icon
              ></a>
              <a
                href="javascript:void(0)"
                (click)="profile.toggle($event)"
                *ngIf="isLoggedIn"
                ><fa-icon [icon]="userIcon"></fa-icon
              ></a>
              <p-overlayPanel #profile>
                <div>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    routerLink="/user"
                  >
                    <fa-icon [icon]="userIcon"></fa-icon>
                    Tài khoản của tôi
                  </a>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    routerLink="my-order"
                  >
                    <fa-icon [icon]="bag"></fa-icon>
                    Đơn mua
                  </a>
                  <a
                    class="dropdown-item"
                    href="javascript:void(0)"
                    routerLink="/admin"
                    *ngIf="userRole !== 'ROLE_USER'"
                  >
                    <fa-icon [icon]="userIcon"></fa-icon>
                    Admin
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    (click)="logout(); profile.toggle($event)"
                  >
                    <fa-icon [icon]="logoutIcon"></fa-icon>
                    Đăng xuất
                  </a>
                </div>
              </p-overlayPanel>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="humberger__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all" (click)="showDepartmentClick()">
            <fa-icon [icon]="bars"></fa-icon>
            <span>Danh mục</span>
          </div>
          <ul *ngIf="showDepartment">
            <li>
              <a
                href="javascript:void(0)"
                *ngFor="let category of listCategoryEnabled"
                routerLink="category/{{ category.id }}"
                >{{ category.name }}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <!-- <div class="hero__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
              </div> -->
              <input
                type="text"
                placeholder="Sản phẩm bạn muốn tìm kiếm ..."
                [(ngModel)]="keyword"
                name="keyword"
              />
              <button class="site-btn" routerLink="/search/{{ keyword }}">
                Tìm kiếm
              </button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <fa-icon [icon]="phone"></fa-icon>
            </div>
            <div class="hero__search__phone__text">
              <h5>Hotline: 111</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>

        <h1></h1>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<footer class="footer spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__about__logo">
            <a href="javascript:void(0)"
              ><img src="assets/image/logo.png" alt=""
            /></a>
          </div>
          <ul>
            <li>Địa chỉ: 01 Công xã Paris, Bến Nghé, Q.1, Tp. HCM</li>
            <li>Phone: 111</li>
            <!-- <li>Email: hello@gmail.com</li> -->
            <li></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
        <div class="footer__widget">
          <h6>Liên kết hữu ích</h6>
          <ul>
            <li><a href="javascript:void(0)">About Us</a></li>
            <li><a href="javascript:void(0)">Thông tin về cửa hàng</a></li>
            <li><a href="javascript:void(0)">Mua sắm an toàn</a></li>
            <li><a href="javascript:void(0)">Thông tin giao hàng</a></li>
            <li><a href="javascript:void(0)">Chính sách bảo mật</a></li>
            <li>
              <a href="javascript:void(0)">Sơ đồ trang web của chúng tôi</a>
            </li>
          </ul>
          <ul>
            <li><a href="javascript:void(0)">Who We Are</a></li>
            <li><a href="javascript:void(0)">Dịch vụ của chúng tôi</a></li>
            <li><a href="javascript:void(0)">Dự án</a></li>
            <li><a href="javascript:void(0)">Liên hệ</a></li>
            <li><a href="javascript:void(0)">Sự đổi mới</a></li>
            <li><a href="javascript:void(0)">Chứng thực</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="footer__widget">
          <h6>Tham gia bản tin của chúng tôi ngay bây giờ</h6>
          <p>
            Nhận thông tin cập nhật qua Email về cửa hàng mới nhất của chúng tôi
            và các ưu đãi đặc biệt.
          </p>
          <form action="#">
            <input type="text" placeholder="Nhập mail của bạn" />
            <button type="submit" class="site-btn">Đặt mua</button>
          </form>
          <div class="footer__widget__social">
            <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
            <a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
