<p-toast></p-toast>
<p-card>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Thêm danh mục"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="showForm()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-dialog
    header="Danh mục"
    [(visible)]="displayForm"
    [style]="{ width: '30vw' }"
    [modal]="true"
    [transitionOptions]="'.3s'"
  >
    <form
      action=""
      [formGroup]="categoryForm"
      (ngSubmit)="onUpdate ? updateCategory() : createCategory()"
    >
      <div class="p-field">
        <label for="username">Tên danh mục: </label>
        <input
          class="form-control"
          type="text"
          pInputText
          class="w-full mt-2"
          formControlName="name"
          name="name"
          [ngClass]="{
            'is-invalid': submitted && categoryForm.get('name')?.invalid
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            submitted &&
            categoryForm.get('name')?.invalid &&
            categoryForm.get('name')?.touched
          "
        >
          <div *ngIf="categoryForm.get('name')?.errors?.['required']">
            Yêu lòng nhập tên vật liệu
          </div>
          <div *ngIf="categoryForm.get('name')?.errors?.['minlength']">
            Độ dài tối thiểu phải là 5
          </div>
          <div *ngIf="categoryForm.get('name')?.errors?.['maxlength']">
            Độ dài tối đa phải là 30
          </div>
        </div>
      </div>
      <div class="p-field mt-3">
        <button type="submit" pButton *ngIf="!onUpdate">Tạo mới</button>
        <button type="submit" pButton *ngIf="onUpdate">Cập nhật</button>
        <button
          pButton
          type="button"
          class="p-button-danger ml-3"
          (click)="displayForm = false"
        >
          Hủy
        </button>
      </div>
    </form>
  </p-dialog>

  <p-table [value]="listCategory" [rows]="5" [paginator]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Tên</th>
        <th>Enable</th>
        <th>Chức năng</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>{{ category.name }}</td>
        <td>
          <button
            pButton
            type="button"
            class="p-button-info"
            (click)="enableCategory(category.id)"
            *ngIf="category.enable"
          >
            Enabled
          </button>
          <button
            pButton
            type="button"
            class="p-button-warning"
            (click)="enableCategory(category.id)"
            *ngIf="!category.enable"
          >
            Disabled
          </button>
        </td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-primary"
            (click)="onUpdateForm(category.id, category.name)"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger ml-2"
            *ngIf="userRole === 'ROLE_ADMIN'"
            (click)="onDelete(category.id, category.name)"
          ></button>
          <p-dialog
            header="Xác nhận"
            [(visible)]="deleteForm"
            [style]="{ width: '30vw' }"
            [modal]="true"
            [transitionOptions]="'.3s'"
          >
            <div>
              <i class="pi pi pi-exclamation-triangle"></i>
              <span class="ml-2"
                >Bạn có chắc xóa
                <span>{{ categoryForm.get("name")?.value }}</span> ?</span
              >
            </div>
            <div class="flex justify-content-end mt-3">
              <p-button
                label="Yes"
                icon="pi pi-check"
                class="mr-2"
                (click)="deleteCategory()"
              ></p-button>
              <p-button
                label="No"
                icon="pi pi-times"
                (click)="deleteForm = false"
              ></p-button>
            </div>
          </p-dialog>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
