<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#" [formGroup]="registerForm" (ngSubmit)="register()">
      <h2>Tạo tài khoản</h2>
      <input
        class="form-control"
        type="text"
        pInputText
        class="w-full"
        placeholder="Tên tài khoản"
        formControlName="username"
        name="username"
        [ngClass]="{
          'is-invalid':
            submitted &&
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="submitted && registerForm.get('username')?.invalid"
      >
        <div *ngIf="registerForm.get('username')?.errors?.['required']">
          Yêu lòng nhập tài khoản của bạn
        </div>
        <div *ngIf="registerForm.get('username')?.errors?.['minlength']">
          Độ dài tối thiểu phải là 5
        </div>
        <div *ngIf="registerForm.get('username')?.errors?.['maxlength']">
          Độ dài tối đa phải là 30
        </div>
      </div>
      <input
        class="form-control"
        type="email"
        pInputText
        class="w-full"
        placeholder="Email"
        formControlName="email"
        name="email"
        [ngClass]="{
          'is-invalid':
            submitted &&
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="submitted && registerForm.get('email')?.invalid"
      >
        <div *ngIf="registerForm.get('email')?.errors?.['required']">
          Yêu lòng nhập Email
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.['minlength']">
          Độ dài tối thiểu phải là 5
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.['maxlength']">
          Độ dài tối đa phải là 30
        </div>
      </div>
      <input
        class="form-control"
        type="password"
        pPassword
        class="w-full"
        placeholder="Mật khẩu"
        formControlName="password"
        name="password"
        [ngClass]="{
          'is-invalid':
            submitted &&
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="submitted && registerForm.get('password')?.invalid"
      >
        <div *ngIf="registerForm.get('password')?.errors?.['required']">
          Yêu lòng nhập mật khẩu
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Độ dài tối thiểu phải là 5
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">
          Độ dài tối đa phải là 30
        </div>
      </div>
      <button>Đăng ký</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h2>Đăng nhập</h2>
      <input
        type="text"
        placeholder="Tên tài khoản"
        [(ngModel)]="loginForm.username"
        name="username"
      />
      <input
        type="password"
        placeholder="Mật khẩu"
        [(ngModel)]="loginForm.password"
        name="password"
      />
      <a href="javascript:void(0)">Quên mật khẩu?</a>
      <button (click)="login()">Đăng nhập</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome back!</h1>
        <p>
          Để duy trì kết nối với chúng tôi vui lòng đăng nhập bằng thông tin cá
          nhân của bạn
        </p>
        <button class="ghost" id="signIn" (click)="loginFormChange()">
          Đăng nhập
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>
          Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi
        </p>
        <button class="ghost" id="signUp" (click)="registerFormChange()">
          Đăng ký
        </button>
      </div>
    </div>
  </div>
</div>
