<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Thêm nhà cung cấp"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="showForm()"
      ></button>
    </ng-template>
  </p-toolbar>
  <p-dialog
    header="Danh mục"
    [(visible)]="displayForm"
    [style]="{ width: '30vw' }"
    [modal]="true"
    [transitionOptions]="'.3s'"
  >
    <form action="" [formGroup]="supplierForm">
      <div class="p-field">
        <label for="name">Tên nhà cung cấp: </label>
        <input
          class="form-control"
          type="text"
          pInputText
          class="w-full"
          formControlName="name"
          name="name"
          [ngClass]="{
            'is-invalid': submitted && supplierForm.get('name')?.invalid
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && supplierForm.get('name')?.invalid"
        >
          <div *ngIf="supplierForm.get('name')?.errors?.['required']">
            Yêu lòng nhập tên nhà cung cấp
          </div>
          <div *ngIf="supplierForm.get('name')?.errors?.['minlength']">
            Độ dài tối thiểu phải là 5
          </div>
          <div *ngIf="supplierForm.get('name')?.errors?.['maxlength']">
            Độ dài tối đa phải là 50
          </div>
        </div>
      </div>
      <div class="p-field">
        <label for="phone">Số điện thoại: </label>
        <input
          type="text"
          class="form-control"
          pInputText
          class="w-full"
          formControlName="phone"
          name="phone"
        />
      </div>
      <div class="p-field">
        <label for="address">Địa chỉ: </label>
        <input
          type="text"
          class="form-control"
          pInputText
          class="w-full"
          formControlName="address"
          name="address"
        />
      </div>
      <div class="p-field">
        <label for="email">Email: </label>
        <input
          type="text"
          class="form-control"
          pInputText
          class="w-full"
          formControlName="email"
          name="email"
          [ngClass]="{
            'is-invalid': submitted && supplierForm.get('email')?.invalid
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="submitted && supplierForm.get('email')?.invalid"
        >
          <div *ngIf="supplierForm.get('email')?.errors?.['required']">
            Yêu lòng nhập email của nhà cung cấp
          </div>
          <div *ngIf="supplierForm.get('email')?.errors?.['minlength']">
            Độ dài tối thiểu phải là 5
          </div>
          <div *ngIf="supplierForm.get('email')?.errors?.['maxlength']">
            Độ dài tối đa phải là 30
          </div>
        </div>
      </div>
      <div class="p-field mt-3">
        <button
          type="submit"
          pButton
          (click)="createSupplier()"
          *ngIf="!onUpdate"
        >
          Tạo mới
        </button>
        <button
          type="submit"
          pButton
          (click)="updateSupplier()"
          *ngIf="onUpdate"
        >
          Cập nhật
        </button>
        <button
          pButton
          type="button"
          class="p-button-danger ml-3"
          (click)="displayForm = false"
        >
          Hủy
        </button>
      </div>
    </form>
  </p-dialog>
  <p-table
    #dt
    [value]="listSupplier"
    [rows]="6"
    [paginator]="true"
    [globalFilterFields]="['name', 'category.name', 'phone', 'address']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Quản lý nhà cung cấp</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Tìm kiếm"
          />`
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Nhà cung cấp <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">
          Điện thoại <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="address" style="min-width: 10rem">
          Địa chỉ <p-sortIcon field="address"></p-sortIcon>
        </th>
        <th pSortableColumn="email" style="min-width: 10rem">
          Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th style="min-width: 10rem">Action</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-supplier>
      <tr>
        <td>
          <p-tableCheckbox [value]="supplier"></p-tableCheckbox>
        </td>
        <td>{{ supplier.name }}</td>
        <td>
          {{ supplier.phone }}
        </td>
        <td>{{ supplier.address }}</td>
        <td>{{ supplier.email }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="onUpdateForm(supplier)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            *ngIf="userRole === 'ROLE_ADMIN'"
            (click)="onDelete(supplier.id, supplier.name)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ listSupplier ? listSupplier.length : 0 }} suppliers.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Xác nhận"
  [(visible)]="showDelete"
  [style]="{ width: '30vw' }"
  [modal]="true"
  [transitionOptions]="'.3s'"
>
  <div>
    <i class="pi pi pi-exclamation-triangle"></i>
    <span class="ml-2"
      >Bạn có chắc xóa nhà cung cấp
      <span>{{ supplierForm.get("name")?.value }}</span> ?</span
    >
  </div>
  <div class="flex justify-content-end mt-3">
    <p-button
      label="Yes"
      icon="pi pi-check"
      class="mr-2"
      (click)="deleteSupplier()"
    ></p-button>
    <p-button
      label="No"
      icon="pi pi-times"
      (click)="showDelete = false"
    ></p-button>
  </div>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
